
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: beige;



}
.Container{
    width:1000px;
    height:1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:azure;
    border-radius: 10px;
    margin-inline: auto;
    margin-top:100px;
    flex-direction: column;    
    gap:10px;


    
}
.Con{
   width:500px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
input{
    width:300px;
    height:30px;
    text-align: center;
    font-size: 20px;
    background-color:white;
    color:black;
    
}
button{
    width:300px;
    height:30px;
    background-color: lightgray;
    font-size: 15px;
    font-family:"Bebas-Neue",sans-serif;

}
.Style{
    width:500px;
    height:300px;

}
#ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}